@import "root.css";

.reactive-table{
    overflow-x: auto !important;
}

.coin-icon{
    width: 20px;
    margin-right: 5px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none !important;
    border: none;
    table-layout: fixed;
}

tr th {
    border-bottom: 1px solid white !important;
}

th, td{
    text-align: left;
    padding: 8px;
    color: white;
    border: none !important;
}

th.number{
    width: 5%;
}

th.coin-image{
    width: 3%;
}

th.coin{
    width: 15%
}

th.symbol{
    width: 25%;
}

th.price{
    width: 15%;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1920px) {

}

@media only screen and (min-width: 3840px){

}