@import "root.css";

.reactive-table{
    overflow-x: auto !important;
}

.coin-icon{
    width: 20px;
    margin-right: 5px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none !important;
    border: none;
}

tr {
    border-top: 1px solid var(--main-colour) !important;
    height: 6vh !important;
}

th {
    font-weight: bold;
}

th, td{
    text-align: left;
    padding: 8px;
    color: var(--main-colour);
    border: none !important;
    font-family: var(--font);
}

.favStar{
    text-decoration: none;
    color: var(--main-colour);
}

.favStar:hover, .favStarSelected{
    color: yellow;
    cursor: pointer;
}

th.number, th.coin-image, th.coin, th.symbol, th.price{
    width: auto;
}


@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 992px) {
    table{
        table-layout: fixed;
    }
    
    th.favourite{
        width: 4%
    }

    th.number{
        width: 5%;
    }
    
    th.coin-image{
        width: 3%;
    }
    
    th.coin{
        width: 15%
    }
    
    th.symbol{
        width: 20%;
    }
    
    th.price{
        width: 15%;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1920px) {

}

@media only screen and (min-width: 3840px){

}