@import "root.css";

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--main-colour);
    text-align: center;
    font-family: var(--font);

}

.footer a, .footer a:active{
    color: var(--main-colour);
}