@import "root.css";

.pagination-bar-row{
    margin: auto;
    padding-top: 20px;
    width: 50%;
}

.page-link{
    background-color: var(--bg-colour) !important;
    color: var(--main-colour) !important;
    border: 1px solid var(--main-colour) !important;
}

.page-item.active .page-link{
    border: 1px solid green !important;
    color: white !important;
    background-color: rgb(15, 87, 15) !important;
}

@media only screen and (min-width: 767px) {
    .pagination-bar-row{
        margin: 0; 
        float: right;
    }

    .pagination{
        float: right;
    }
}

